[submodule "Complier-Design/NCTU-Compiler-Tester"]
	path = Complier-Design/NCTU-Compiler-Tester
	url = git@github.com:Summon528/NCTU-Compiler-Tester.git
[submodule "Database/simple_DBMS"]
	path = Database/simple_DBMS
	url = git@github.com:Summon528/simple_DBMS.git
